body { 
    /* background-color: lightslategray; */
    background-image: url(Graduation-Day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: bisque;
}

h1 {
    text-align: center;
    color: #d8d2d2;
}

button {
    background-color: aqua;
    color: blue;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

button:hover{
    background-color: blueviolet;
}

#search-form, #comment-form {
    text-align: center;
    margin: 0;
}

#refresh-button {
    display: block;
    margin: 0;
}

h2 {
    text-align: center;
    color: thistle;
    font-style: italic;

}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgreen;
}

footer {
    text-align: center;
    color: whitesmoke;
    font-style: italic;
}